.preview-container {
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: beige;
  .react-pdf__Document {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .preview-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    &:hover {
      outline-style: solid;
      outline-width: 1px;
      outline-color: rgb(63, 139, 193);
    }
    .react-pdf__Page {
      border-radius: 0.4rem;
      overflow: hidden;
      box-shadow: 0px 0px 9px 0px #00000075;
    }
    .react-pdf__Page__canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .page-selected {
    background-color: rgb(63, 139, 193);
    color: #fff;
  }

  .preview-page:hover + .add-button {
    display: flex;
    transition: all;
    transition-duration: 250ms;
  }

  .add-button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0.4rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    &:hover {
      display: flex;
      opacity: 1;
    }
    transition: opacity;
    transition-duration: 250ms;
  }
}

.horizontal {
  position: relative;
  padding: 0.5rem;
  height: 100%;
  width: max-content;
  .react-pdf__Document {
    flex-direction: row;
    gap: 0.15rem;
    height: 100%;
  }
  .preview-page-vertical {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-row-gap: 0px;
    gap: 0.5rem;
    position: relative;
    padding: 0.5rem;
    border-radius: 1rem;
    width: auto;
    margin: 0;
    height: 100%;
    // &:hover {
    //   outline-style: solid;
    //   outline-width: 1px;
    //   outline-color: rgb(63, 139, 193);
    // }
    .react-pdf__Page {
      border-radius: 0.4rem;
      overflow: hidden;
      box-shadow: 0px 0px 9px 0px #00000075;
    }
    .react-pdf__Page__canvas {
      max-height: 100% !important;
      width: 100% !important;
    }
    .page-no {
      display: block;
      margin: auto;
    }
  }
  .preview-page:hover + .delete-button-container {
    display: flex;
    transition: all;
    transition-duration: 250ms;
  }
  .delete-button-container {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.4rem;
    display: none;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: transparent;
    transition: opacity;
    transition-duration: 250ms;
    &:hover {
      display: block;
      opacity: 1;
    }
    .MuiIconButton-root {
      background-color: #fff;
      box-shadow: 0px 0px 9px 0px #00000075;
    }
  }
}
